<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
    }

    @import "~@angular/cdk/overlay-prebuilt.css";
</style>

<table style="width: 100%;">
    <th>Id</th><th>Firstname</th><th>Lastname</th><th>Address</th><th>Birthday</th><th></th><th></th>
    <tr *ngFor="let person of persons; let i=index">
      <td>{{person.id}}:</td> 
      <td>{{person.firstname}}</td>
      <td>{{person.lastname}}</td>
      <td>{{person.address}}</td>
      <td>{{person.birthday | date}}</td>
      <td><img width="20" height="20" src="../../assets/delete_icon.png" (click)="onDelete(i)"></td>
      <td><img width="20" height="20" src="../../assets/edit_icon.png"></td>
    </tr>
</table>